---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import AboutMe from "../components/AboutMe.astro"
import Hero from "../components/Hero.astro"
import SectionContainer from "../components/SectionContainer.astro"
import TitleSection from "../components/TitleSection.astro"
import TeamIcon from "../assets/Teams.astro"
---

<Layout
  title="Club Baloncesto Calasanz"
  description="Club de baloncesto con más de 50 años formando personas a través del deporte en el Colegio Calasanz-Escolapios de Santander."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="sobre-nosotros">
        <TitleSection>
          <TeamIcon class="size-8" />
          Sobre nosotros
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
