---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import ProfileCheck from "../assets/ProfileCheck.astro";
import NewsCard from "../components/NewsCard.astro";
import NewsForm from "../components/NewsForm.astro";

const noticias = [
  {
    titulo: '¡Victoria épica del equipo juvenil!',
    descripcion: 'El equipo juvenil ganó 85-82 en un partido increíble...',
    fecha: '15 abril 2025',
    imagen: '/images/noticia1.jpg',
    formulario: false
  },
  {
    titulo: 'Campus de verano 2025: ¡Inscríbete ya!',
    descripcion: 'Ya están abiertas las inscripciones para nuestro campus.',
    fecha: '10 abril 2025',
    imagen: '/images/noticia2.jpg',
    formulario: true
  }
];
---
<Layout title="Noticias" description="Últimas noticias del club">
  <main class="px-4 py-24 space-y-24">
    <SectionContainer id="noticias">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Noticias del club
      </TitleSection>
      <div class="space-y-16">
        {noticias.map((item) => (
          <div class="space-y-6">
            <NewsCard {...item} />
            {item.formulario && <NewsForm />}
          </div>
        ))}
      </div>
    </SectionContainer>
  </main>
</Layout>