---
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../assets/Linkedln.astro"
import MailIcon from "../assets/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Baloncesto Calasanz
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +4 a침os de experiencia. <strong
      >Desarrollador Full-Stack</strong
    > residente en Santander, Espa침a. Especializado en el dise침o, desarrollo y mantenimiento de aplicaciones y sitios web. 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:miduga@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>